@using System.Linq;
@using System.Collections.Generic;
@{ 

    SFSdotNet.Framework.Web.Mvc.Models.UIModel uiModel = null;
    if (ViewData["uiModel"] != null)
    {
        uiModel = (SFSdotNet.Framework.Web.Mvc.Models.UIModel)ViewData["uiModel"];
    }
    else
    {
        uiModel = new SFSdotNet.Framework.Web.Mvc.Models.UIModel();
        uiModel.TitleForm = ""; //TODO: Titulo de la forma

    }
    string idTab = Request.QueryString["idTab"];

    bool isPopup = false;
    if (!string.IsNullOrEmpty(Request.QueryString["popup"]))
    {
        isPopup = true;
    }

    if (!string.IsNullOrEmpty(Request.QueryString["idTab"]))
    {
        uiModel.IsPartialView = true;
    }

    string idWindow = uiModel.Id; //TODO:  Id de la forma
    if (isPopup)
    {
        idWindow = "popup_" + idWindow + idTab;
        ViewData["idModal"] = idWindow + idTab;
    }

}
@if (uiModel.ActionButtons.Count > 0)
    {
        //Si existe más de un boton, entonces se podrá mostrar el container de footer
        // en una pagina custom, eliminarlos significa que se quiere un layout absolutamente limpio de esa zona
        if (isPopup || uiModel.IsPartialView)
        {
            if (isPopup == true)
            {
@Html.Raw("</div>");
            }
            else
            {
@Html.Raw("</div>");
            }
@Html.Raw("<div class=\" modal-footer " + (!uiModel.IsMultiColumn ? "form-horizontal" : "") + " buttons control-group\"><!--modal footer container-->");

        }
        else
        {
@Html.Raw("<div class=\"nomodal-footer " + (!uiModel.IsMultiColumn ? "form-horizontal" : "") + " text-left\"><!--No modal footer container-->");

        }

        if (!uiModel.IsMultiColumn)
        {
@Html.Raw("<div class=\"control-group\">");
@Html.Raw("<label class=\"control-label\">&nbsp;</label>");
@Html.Raw("<div class=\"controls\">");
@Html.Raw("<div class=\"display-field\">");
        }
        else
        {
@Html.Raw("<div class=\"text-center\"><!-- con x 1-->");
        }

        if (Model != null)
        {
            ViewData["safeKey"] = Model.SafeKey;
            ViewData["isNew"] = Model.IsNew;

        }
        ViewData["idWindow"] = idWindow;
@Html.Raw("<!-- start specific buttons -->");
        Html.RenderPartial("FormButtons", uiModel);
@Html.Raw("<!-- end specific buttons -->");

        if (!uiModel.IsMultiColumn)
        {
@Html.Raw("</div><!--uno f-->");
@Html.Raw("</div><!--dos f-->");

@Html.Raw("</div><!--tres f-->");
@Html.Raw("</div><!--No modal or modal footer container-->");
        }
        else
        {
@Html.Raw("</div><!-- End con x 1-->");
@Html.Raw("</div><!--End No modal footer container-->");

        } //Ednd multicolumn
    }
