

    <li class="dropdown" id="fat-menu">
    <a class="dropdown-toggle bgtrasparent" id="drop3" role="button" href="#" data-toggle="dropdown"> 
        <i class="icon-home icon-large icon-white"></i>
        <b class="caret white-caret"></b></a>
           <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@VirtualPathUtility.ToAbsolute("~/")Home"><i class=" icon-home"></i> @GlobalMessages.GOTO_HOME_SYSTEM</a></li>
                        <li role="presentation" class="divider"></li>
                        
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@VirtualPathUtility.ToAbsolute("~/")Home/AllApps"><i class=" icon-list"></i> @GlobalMessages.INDEX_APPLICATIONS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@VirtualPathUtility.ToAbsolute("~/")Go/MyApps"><i class=" icon-heart"></i> @MembershipAppsMessages.MY_APPS</a></li>

                      </ul>
    </li>

<script>
  
</script>