@using SFSdotNet.Framework.Web.Mvc
@{

    TemplateData ui = SFSdotNet.Framework.Web.Mvc.UIApp.GetUIData(this.ViewContext);
    string urlImageProfile = ui.GetUrlImageProfileUser(160, 160);

    string changelang = null;
    if (this.Request.Cookies["ASP.NET_SessionId"] != null)
    {
        var lang_url = SFSdotNet.Framework.Cache.Caching.GetFromGlobal(this.Request.Cookies["ASP.NET_SessionId"].Value + "lang-url");
        if (lang_url != null)
        {
            changelang = lang_url.ToString();
            SFSdotNet.Framework.Cache.Caching.RemoveInGlobal(this.Request.Cookies["ASP.NET_SessionId"].Value + "lang-url");
        }
    }

    if (!string.IsNullOrEmpty(Request.QueryString["lang"]))
    {
        if (Request.QueryString["lang"] != System.Threading.Thread.CurrentThread.CurrentCulture.ToString())
        {
            changelang = Request.QueryString["lang"];
        }
    }
    else if (Session["lang-url"] != null)
    {
        changelang = Session["lang-url"].ToString();
        Session["lang-url"] = null;

    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@RenderSection("Title", false)</title>

    <!--AX872-->
    @{
        string area = SFSdotNet.Framework.Web.Mvc.Utils.GetRouteDataOrQueryParam(this.Request.RequestContext, "area");
        UIModel uiModel = (UIModel)ViewData["uiModel"];
        bool isDetailsOrEdit = false;
        bool hideBrand = false;
        SFSdotNet.Framework.Security.BusinessObjects.secCompanyModule companyModule = SFSdotNet.Framework.Web.Utils.GetDomainCompany(this.ViewContext.HttpContext);
        SFSdotNet.Framework.Security.BusinessObjects.secCompany companyDomain = null;
        if (companyModule != null && companyModule.secCompany != null)
        {
            companyDomain = companyModule.secCompany;
        }

        if (SFSdotNet.Framework.My.Context.CurrentContext != null && SFSdotNet.Framework.My.Context.CurrentContext.Company != null && SFSdotNet.Framework.My.Context.CurrentContext.Company.HidePlatformBrand != null)
        {
            hideBrand = SFSdotNet.Framework.My.Context.CurrentContext.Company.HidePlatformBrand.Value;
        }
        else if (companyDomain != null && companyDomain.HidePlatformBrand != null)
        {
            hideBrand = companyDomain.HidePlatformBrand.Value;
        }
        if (uiModel != null && (uiModel.ContextType == UIModelContextTypes.DisplayForm || uiModel.ContextType == UIModelContextTypes.EditForm))
        {
            isDetailsOrEdit = true;
        }

    }



    <link rel="icon"
          type="image/png"
          href="@(ui.UrlFavicon)">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/bootstrap/css/bootstrap.min.css"))" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/css/AdminLTE.min.css"))" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/css/skins/_all-skins.min.css"))" rel="stylesheet" type="text/css" />

    @*<link href="@(ui.UrlStatic("~/Static/v2/select2/css/select2.css"))" rel="stylesheet">
        <link href="@(ui.UrlStatic("~/Static/v2/select2/css/select2-bootstrap.css"))" rel="stylesheet">*@

    <link href="@(ui.UrlStatic("~/Scripts/select2/select2.css"))" rel="stylesheet">
    <link href="@(ui.UrlStatic("~/Scripts/select2/select2-bootstrap.css"))" rel="stylesheet" />



    <link href="@(ui.UrlStatic("~/Static/v2/bootstrap-modal-bs3patch.css"))" rel="stylesheet" />
    <link href="@(ui.UrlStatic("~/Static/v2/bootstrap-modal.css"))" rel="stylesheet" />
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"))" type="text/javascript"></script>
    <script src="@(ui.UrlStatic("~/Static/v2/modernizr-custom.js"))" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/bootstrap/js/bootstrap.min.js"))" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"))" type="text/javascript"></script>

    <!-- FastClick -->
    @*<script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/fastclick/fastclick.min.js"))" type="text/javascript"></script>*@
    <!-- AdminLTE App -->
    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/iCheck/all.css"))" rel="stylesheet" type="text/css" />
    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/iCheck/icheck.min.js"))"></script>
    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/pace/pace.min.css"))" rel="stylesheet" type="text/css" />

    <script>
        //var overlay = $('<div class="overlay"><div class="fa fa-refresh fa-spin"></div></div>');

        paceOptions = {
            ajax: { ignoreURLs: ['_nai_', 'GetLatests', 'GetPendingProcess', 'Messages'] }
        };

    </script>
    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/pace/pace.js"))"></script>

    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/colorpicker/bootstrap-colorpicker.css"))" rel="stylesheet" type="text/css" />

    <link href="@(ui.UrlStatic("~/Static/v2/datepicker/css/bootstrap-datepicker3.css"))" rel="stylesheet" type="text/css" />
    <link href="@(ui.UrlStatic("~/Static/v2/datetimepicker/css/bootstrap-datetimepicker.css"))" rel="stylesheet" type="text/css" />
    <link href="@(ui.UrlStatic("~/Static/v2/bootstrap-timepicker/css/bootstrap-timepicker.css"))" rel="stylesheet" type="text/css" />
    <script src="@(ui.UrlStatic("~/Static/v2/moment/moment.min.js"))"></script>
    <script src="@(ui.UrlStatic("~/Static/v2/datepicker/js/bootstrap-datepicker.js"))"></script>

    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/js/app.js"))" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->

    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/js/demo.js"))" type="text/javascript"></script>

    <script src="@(ui.UrlStatic("~/Static/v2/bootstrap-modalmanager.js"))"></script>
    <script src="@(ui.UrlStatic("~/Static/v2/bootstrap-modal.js"))"></script>
    <script>
        $(function () {

            $.fn.modalmanager.defaults.resize = true;
        });
    </script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.unobtrusive-ajax.min.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.validate.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.validate.unobtrusive.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/Jquery.Numeric.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.pagination.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.tablehover.min.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jsrender.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/timeago.js"))"></script>


    <link href="@(ui.UrlStatic("~/Content/jquery.pnotify.default.css"))" rel="stylesheet" type="text/css" />
    <link href="@(ui.UrlStatic("~/Content/jquery.pnotify.default.icons.css"))" rel="stylesheet" type="text/css" />

    <script src="@(ui.UrlStatic("~/Scripts/jquery.pnotify.min.js"))"></script>
    <link href="@(ui.UrlStatic("~/Static/v2/magnificPopup/magnific-popup.css"))" rel="stylesheet" type="text/css" />

    <link href="@(ui.UrlStatic("~/Static/Templates/AdminLTE/css/custom.css"))" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='@(ui.UrlStatic("~/Static/v2/unitegallery/js/unitegallery.min.js"))'></script>
    <link rel='stylesheet' href='@(ui.UrlStatic("~/Static/v2/unitegallery/css/unite-gallery.css"))' type='text/css' />
    <script type='text/javascript' src='@(ui.UrlStatic("~/Static/v2/unitegallery/themes/tiles/ug-theme-tiles.js"))'></script>
    @*<link rel='stylesheet' href='@(ui.UrlStatic("~/Static/v2/unitegallery/themes/default/ug-theme-default.css"))' type='text/css' />*@
    @if (ui.UIModel != null)
    {
        foreach (var jsFile in ui.UIModel.JsFiles)
        {
            if (jsFile.StartsWith("~"))
            {
                <script src="@(ui.UrlStatic(jsFile))"></script>
            }
            else
            {
                <script src="@Html.Raw(jsFile)"></script>
            }

        }
    }

    <script src="@(ui.UrlStatic("~/Scripts/SFS.Web.Mvc.js"))"></script>


    <script>

             @Html.Raw(ui.RenderJavascriptStart())
    </script>
    @if (!string.IsNullOrEmpty(ui.CssCustom))
    {
        <style>
      @Html.Raw(ui.CssCustom)
        </style>
    }

   

    @RenderSection("CustomScript", false)

    @{
        #region colors
        bool customColors = false;
        string customColorPrimary = null;


        if (!string.IsNullOrEmpty(area) && ((Request.IsAuthenticated == true) && SFSdotNet.Framework.My.Context.CurrentContext != null && SFSdotNet.Framework.My.Context.CurrentContext.Company != null) || companyDomain != null)
        {
            SFSdotNet.Framework.Security.BusinessObjects.secCompany company = null;

            if (companyDomain != null)
            {
                company = companyDomain;
            }
            if (company == null && SFSdotNet.Framework.My.Context.CurrentContext != null && SFSdotNet.Framework.My.Context.CurrentContext.Company != null)
            {
                company = SFSdotNet.Framework.My.Context.CurrentContext.Company;
            }
            var customColorObj = SFSdotNet.Framework.Cache.Caching.GetFromCompany("custom-color-primary", company.GuidCompany);
            if (customColorObj != null && (bool)customColorObj == true)
            {
                var colorPrimary = SFSdotNet.Framework.Cache.Caching.GetFromCompany("color-primary", company.GuidCompany);
                if (colorPrimary != null)
                {
                    customColorPrimary = colorPrimary.ToString();
                }

            }
            else
            {
                // Guid guidCompany = SFSdotNet.Framework.My.Context.CurrentContext.Company.GuidCompany;
                if (company == null)
                {
                    company = SFSdotNet.Framework.My.Context.CurrentContext.Company; // SFSdotNet.Framework.Security.BR.secCompaniesBR.Instance.GetBy("GuidCompany == Guid(\"" + guidCompany.ToString() + "\")").FirstOrDefault();
                }
                Guid? guidCompany = null;
                if (company != null)
                {
                    guidCompany = company.GuidCompany;

                }
                else
                {

                }

                if (company != null && !string.IsNullOrEmpty(company.ColorPrimary))
                {
                    SFSdotNet.Framework.Cache.Caching.SetToCompany(true, "custom-color-primary", guidCompany.Value);
                    customColorPrimary = company.ColorPrimary;
                    SFSdotNet.Framework.Cache.Caching.SetToCompany(company.ColorPrimary, "color-primary", guidCompany.Value);
                }
                else
                {
                    SFSdotNet.Framework.Cache.Caching.SetToCompany(false, "custom-color-primary", guidCompany.Value);
                }
            }

        }

        #endregion

        string bodyClasses = "skin-blue";
    }
    @if (ui.UITheme != null)
    {
        bodyClasses = "skin-custom";
        <text>
            <style>
            /*
 * Skin: custom
 * -----------
 */
.skin-custom .main-header .navbar {
                    background-color: @(ui.UITheme.TopMenuBG);
                }
.skin-custom .main-header .navbar .nav > li > a {
                    color: #ffffff;
}
@if (!string.IsNullOrEmpty(ui.UITheme.TextLinkColor)) {
<text>
.skin-custom a:not(.btn-primary):not(.btn-default):not([role="tab"]):not([data-toggle="tab"]):not(.not-link-color)
{
    color:@(ui.UITheme.TextLinkColor);
}

</text>
}
.skin-custom .main-header .navbar .nav > li > a:hover,
.skin-custom .main-header .navbar .nav > li > a:active,
.skin-custom .main-header .navbar .nav > li > a:focus,
.skin-custom .main-header .navbar .nav .open > a,
.skin-custom .main-header .navbar .nav .open > a:hover,
.skin-custom .main-header .navbar .nav .open > a:focus,
.skin-custom .main-header .navbar .nav > .active > a {
                    background: rgba(0, 0, 0, 0.1);
                    color: #f6f6f6;
}
.skin-custom .main-header .navbar .sidebar-toggle {
                    color: #ffffff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
                    color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
                }
.skin-custom .main-header .navbar .sidebar-toggle {
                    color: #fff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
                    background-color: @(ui.UITheme.TopMenuBG);
                }
                @Html.Raw("@")media (max-width: 767px) {
  .skin-custom .main-header .navbar .dropdown-menu li.divider {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
  .skin-custom .main-header .navbar .dropdown-menu li a {
                        color: #fff;
  }
  .skin-custom .main-header .navbar .dropdown-menu li a:hover {
                        background: #008d4c;
  }
                }
.skin-custom .main-header .logo {
                    background-color: @(ui.UITheme.TopCompanyLogoBG);
                    color: #ffffff;
  border-bottom: 0 solid transparent;
                }
.skin-custom .main-header .logo:hover {
                    background-color: @(ui.UITheme.TopCompanyLogoBG);
                }
.skin-custom .main-header li.user-header {
                    background-color: @(ui.UITheme.TopMenuBG);
                }
.skin-custom .content-header {
                    background: transparent;
                }
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
                    background-color: #222d32;
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
                    color: #fff;
}
.skin-custom .sidebar-menu > li.header {
                    color: #4b646f;
  background: #1a2226;
}
.skin-custom .sidebar-menu > li > a {
                    border-left: 3px solid transparent;
                }
.skin-custom .sidebar-menu > li:hover > a,
.skin-custom .sidebar-menu > li.active > a {
                    color: #ffffff;
  background: #1e282c;
  border-left-color: @(ui.UITheme.TopMenuBG);
                }
.skin-custom .sidebar-menu > li > .treeview-menu {
                    margin: 0 1px;
                    background: #2c3b41;
}
.skin-custom .sidebar a {
                    color: #b8c7ce;
}
.skin-custom .sidebar a:hover {
                    text-decoration: none;
                }
.skin-custom .treeview-menu > li > a {
                    color: #8aa4af;
}
.skin-custom .treeview-menu > li.active > a,
.skin-custom .treeview-menu > li > a:hover {
                    color: #ffffff;
}
.skin-custom .sidebar-form {
                    border-radius: 3px;
                    border: 1px solid #374850;
  margin: 10px 10px;
                }
.skin-custom .sidebar-form input[type="text"],
.skin-custom .sidebar-form .btn {
                    box-shadow: none;
                    background-color: #374850;
  border: 1px solid transparent;
                    height: 35px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
.skin-custom .sidebar-form input[type="text"] {
                    color: #666;
  border-top-left-radius: 2px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 2px;
                }
.skin-custom .sidebar-form input[type="text"]:focus,
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
                    background-color: #fff;
  color: #666;
}
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
                    border-left-color: #fff;
}

.skin-custom .sidebar-form .btn {
    color: #999;
  border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: @(ui.UITheme.TopMenuBG);
}
.btn-primary{
    background-color: @(ui.UITheme.PrimaryButtonsBG);
    border-color:@(ui.UITheme.PrimaryButtonsBG);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover{
    background-color: @(ui.UITheme.PrimaryButtonsBG);

}
.btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active{
    background-color: @(ui.UITheme.PrimaryButtonsBG);
    border-color:@(ui.UITheme.PrimaryButtonsBG);
}
td.select.hover, tr.sover td.select{

    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: @(ui.UITheme.TopMenuBG);
}

            </style>

        </text>

    }
    @if (ui.UIModel != null)
    {
        foreach (var cssFile in ui.UIModel.CssFiles)
        {
            <link href="@(ui.UrlStatic(cssFile))" rel="stylesheet" />

        }
    }

    @if (ViewData["HeaderScript"] != null)
    {
        @Html.Raw(ViewData["HeaderScript"].ToString());
    }


</head>
@{

    if (!string.IsNullOrEmpty(ui.BodyClasses))
    {
        bodyClasses = ui.BodyClasses;
    }
    else
    {
        bodyClasses = bodyClasses + " sidebar-mini ";
    }

    object collapsedClass = SFSdotNet.Framework.Cache.UserSession.Get(System.Web.HttpContext.Current, "collapsed-menu");
    string collapsedClassText = "";
    bool isLoginOrRegister = false;
    string actionName = SFSdotNet.Framework.Web.Mvc.Utils.GetRouteDataOrQueryParam(this.Request.RequestContext, "action");
    if (actionName == "Login" || actionName == "Register" || actionName == "ResetPassword")
    {
        isLoginOrRegister = true;
    }
    if (collapsedClass != null && collapsedClass.ToString() == "1")
    {
        collapsedClassText = "sidebar-collapse";
    }
    else
    {
        collapsedClassText = "";
    }
    string wrapper = "";
    string contentwrapper = "";
    if (isLoginOrRegister == false)
    {
        wrapper = "wrapper";
        contentwrapper = "content-wrapper";
    }
    else
    {
        wrapper = "login-box";
    }
    if (ViewData["class-body"] != null)
    {
        bodyClasses = bodyClasses + " " + ViewData["class-body"].ToString() + " ";
    }
    string _bodyclasses = bodyClasses + " fixed " + collapsedClassText;
    if (isLoginOrRegister == true)
    {
        _bodyclasses = "hold-transition login-page";
    }
}
<body class="@(_bodyclasses)">
    <!-- Site wrapper -->
    <div class="@(wrapper)">
        @if (isLoginOrRegister == false)
        {
            <header class="main-header">
                <!-- Logo -->
                <a href="@Html.Raw(ui.UrlApplicationRoot)" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img style="width:25px;height:25px;" src="@Html.Raw(ui.UrlApplicationLogo)" /> </span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img style="width:25px;height:25px;" src="@Html.Raw(ui.UrlApplicationLogo)" /> @Html.Raw(ui.ApplicationName)</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div id="navbar-top-center" style="float:left;"></div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <!-- start message -->
                                                <a href="">
                                                    <div class="pull-left">
                                                        <img src="@(urlImageProfile)" class="img-circle" alt="User Image" />
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li><!-- end message -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            @Html.Partial("MenuLanguage")


                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    @*<span class="label label-warning">10</span>*@
                                </a>
                                @*<ul class="dropdown-menu">
                                        <li class="header">You have 10 notifications</li>
                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#">View all</a></li>
                                    </ul>*@
                            </li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            <li class="dropdown sys-config">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Html.Raw(ui.UrlAccountProfileCompany)">
                                            <i class="fa fa-home"></i> <span>Empresa actual</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a overrideApp="@ui.AppNameKey" id="changecompanyLink2" href="@Html.Raw(ui.UrlChangeCurrentCompany)">
                                            <i class="fa fa-retweet"></i> @GlobalMessages.CHANGE_COMPANY
                                        </a>
                                    </li>
                                    @*<li class="divider"></li>
                                        <li>
                                            <a href="@(ui.UrlChangeCurrentTheme)" class="@(ui.ClassModalElement)">
                                                <i class="fa fa-eye"></i> Cambiar plantilla (UI)
                                            </a>
                                        </li>*@

                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Html.Raw(ui.UrlAccountProfileUser)" id="my-account-sys">
                                            <i class="fa fa-user"></i> Mi cuenta
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@(ui.UrlLogout)">
                                            <i class="fa fa-sign-out"></i> @(ui.Text.LogOff)
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@(urlImageProfile)" class="user-image" alt="User Image" />
                                    <span class="hidden-xs">@(ui.UserDispalyName)</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="@(urlImageProfile)" class="img-circle" alt="User Image" />
                                        <p>
                                            @(ui.UserDispalyName)
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        @*<div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>*@
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Html.Raw(ui.UrlAccountProfileUser)" class="btn btn-default btn-flat">@GlobalMessages.MY_ACCOUNT</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="@Html.Raw(ui.UrlLogout)" class="btn btn-default btn-flat">@GlobalMessages.SIGN_OUT</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            @*<li>
                                    <a href="#" data-toggle="control-sidebar" class='c'><i class="fa fa-gears"></i></a>
                                </li>*@
                        </ul>
                    </div>
                </nav>
            </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel" style="min-height:55px">
                        @{
                            var leftExtra = "";


                        }
                        @if (ui.UrlCompanyLogo != ui.UrlApplicationLogo)
                        {

                            <div class="pull-left image">
                                <img src="@(ui.UrlCompanyLogo)" class="img-rounded" alt="User Image" />
                            </div>
                        }
                        else
                        {
                            leftExtra = "style=\"left: 0px\"";
                            <div class="pull-left image" style="height:40px;">

                            </div>
                        }
                        <div class="pull-left info" @Html.Raw(leftExtra)>
                            <p> <a href="@(ui.UrlAccountProfileCompany)"> @(ui.CompanyName) </a></p>
                            <a overrideApp="@ui.AppNameKey" id="changecompanyLink" href="@Html.Raw(ui.UrlChangeCurrentCompany)"><i class="fa fa-circle text-success"></i> @GlobalMessages.CHANGE_COMPANY</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    @{
                        bool disableNavigationMenu = false;
                        if (ui.UIModel != null)
                        {
                            disableNavigationMenu = ui.UIModel.DisableNavigationMenu;
                        }
                    }
                    @if (disableNavigationMenu == false)
                    {
                        <ul class="sidebar-menu">
                            <li class="header">MAIN NAVIGATION</li>
                            @foreach (var menu in ui.MenuItems)
                    {
                        if (string.IsNullOrEmpty(menu.IconClass))
                        {
                            menu.IconClass = "fa fa-circle-o";
                        }
                        <li class="treeview">
                            <a href="#" bo="@(menu.MenuItemKey)"><i class="@(menu.IconClass)"></i> <span>@(menu.Title) </span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                @foreach (var submenu in menu.Children)
                                {
                                    if (submenu.MenuItemKey.Contains("File"))
                                    {
                                        submenu.IconClass = "fa fa-files-o";
                                    }
                                    if (string.IsNullOrEmpty(submenu.IconClass))
                                    {
                                        submenu.IconClass = "fa fa-circle-o";
                                    }

                                    <li><a bo="@(submenu.MenuItemKey)" href="@(submenu.Url)"><i class="@(submenu.IconClass)"></i>  @(submenu.Title)</a></li>
                                }
                            </ul>
                        </li>
                            }
                        </ul>
                    }
                </section>
                <!-- /.sidebar -->
            </aside>
                        }
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="@(contentwrapper)">
            @RenderBody()

        </div><!-- /.content-wrapper -->
        @if (isLoginOrRegister == false)
        {
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>SFS Tools</b> 2.0
                </div>
                @*<strong>Template by <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong>*@
            </footer>

        <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading">Recent Activity</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                        <p>Will be 23 on April 24th</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-user bg-yellow"></i>
                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                        <p>New phone +1(800)555-1234</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                        <p>nora@example.com</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                        <p>Execution time 5 seconds</p>
                                    </div>
                                </a>
                            </li>
                        </ul><!-- /.control-sidebar-menu -->

                        <h3 class="control-sidebar-heading">Tasks Progress</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Custom Template Design
                                        <span class="label label-danger pull-right">70%</span>
                                    </h4>
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Update Resume
                                        <span class="label label-success pull-right">95%</span>
                                    </h4>
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Laravel Integration
                                        <span class="label label-warning pull-right">50%</span>
                                    </h4>
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Back End Framework
                                        <span class="label label-primary pull-right">68%</span>
                                    </h4>
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                    </div>
                                </a>
                            </li>
                        </ul><!-- /.control-sidebar-menu -->

                    </div><!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">General Settings</h3>
                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Report panel usage
                                    <input type="checkbox" class="pull-right" checked />
                                </label>
                                <p>
                                    Some information about this general settings option
                                </p>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Allow mail redirect
                                    <input type="checkbox" class="pull-right" checked />
                                </label>
                                <p>
                                    Other sets of options are available
                                </p>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Expose author name in posts
                                    <input type="checkbox" class="pull-right" checked />
                                </label>
                                <p>
                                    Allow the user to show his name in blog posts
                                </p>
                            </div><!-- /.form-group -->

                            <h3 class="control-sidebar-heading">Chat Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Show me as online
                                    <input type="checkbox" class="pull-right" checked />
                                </label>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Turn off notifications
                                    <input type="checkbox" class="pull-right" />
                                </label>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Delete chat history
                                    <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                </label>
                            </div><!-- /.form-group -->
                        </form>
                    </div><!-- /.tab-pane -->
                </div>
            </aside><!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        }
    </div><!-- ./wrapper -->
    <script>
        $("#changecompanyLink, #changecompanyLink2, #changeLayout").click(function (e) {
            e.preventDefault();
            openModal($(this));
        });


    </script>
    @if (ViewData["FooterScript"] != null)
    {
        @Html.Raw(ViewData["FooterScript"].ToString());
    }
</body>
</html>
