@model SFSdotNet.Framework.Security.BusinessObjects.secCompany
@{
    Guid guidImage = Guid.Empty;
    if (Model.GuidFileLogo != null)
    {
        guidImage = Model.GuidFileLogo.Value;
    }
    string imageUrl = SFSdotNet.Framework.ImageUtils.GetImageUrl("secFiles", "SFSdotNet.Framework.Security", "GuidFile", "FileData", "FileType", "FileSize", guidImage.ToString(), "secFiles.secFileModel", 240,null);
    string fullImage = imageUrl.Replace("w=240&h=", "w=&h=");
}

<div class="span4">
    <div class="row-fluid">
        <div class="span12">
            <a href="@(fullImage)" class="filethumb" ><img src="@(imageUrl)" style="width:240px" width="240" /></a>
        </div>

    </div>
</div>

<div class="span8">
    <div class="row-fluid">
        <div class="span12">
            <h1>@(Model.Name)</h1>
            <p class="bio">
                @(Model.Description)
            </p>

        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
          <h2>Usuarios de la empresa</h2>
        </div>
    </div>

@foreach(var user in (List<SFSdotNet.Framework.Security.BusinessObjects.secUser>)ViewData["users"]) {
    string image = SFSdotNet.Framework.ImageUtils.GetImageUrl("secFiles", "SFSdotNet.Framework.Security", "GuidFile", "FileData", "FileType", "FileSize", user.GuidSecFile.ToString(), "secFiles.secFileModel", 60, 60);
    string urlUser = VirtualPathUtility.ToAbsolute("~/") + "User/" + user.UserName;
    if (user.UserName != null && user.UserName.Contains("@"))
    {
        urlUser = VirtualPathUtility.ToAbsolute("~/") + "User/" + user.UserId.ToString();
    }
    <div class="row-fluid">
        <div class="span12" style="font-size:120%;">
           
            <a href="@(urlUser)"><img src="@(image)" /></a> <a href="@(urlUser)">@(user.DisplayName)</a>

</div>
    </div>
}

    <div class="row-fluid">
        <div class="span12">
            <h2>Aplicaciones de la empresa</h2>
        </div>
    </div>

    @foreach (var app in (List<SFSdotNet.Framework.Security.BusinessObjects.secModule>)ViewData["apps"])
    {
        <div class="row-fluid">
            <div class="span12" style="font-size:120%;">

                <a href="@(VirtualPathUtility.ToAbsolute("~/" + app.ModuleKey))"> <img style=" width:60px; height:60px;" src="@Html.Action("LogoUrl", "Home", new { area = app.ModuleKey })" /></a> <a href="@(VirtualPathUtility.ToAbsolute("~/" + app.ModuleKey))">@(app.Name)</a>

            </div>
        </div>
    }

</div>
<div class="row-fluid">
    <div class="span12 space-contents" style=""></div>
</div>


<script>

                        'use strict';

                        $(function () {

                            if (typeof (jQuery().magnificPopup) == "undefined") {
                                @{
                                    var helper = (new UrlHelper(ViewContext.RequestContext));
                                }
                                //alert("leyendo");

                                Utilities.requireFiles([
                                    "@(helper.Content("~/Content/Lightbox/magnific-popup.css"))",
                                    "@(helper.Content("~/Scripts/Lightbox/magnific.js"))"], function () {
                                        $(document).magnificPopup({
                                            type: 'image',
                                            delegate: 'a.filethumb',
                                            gallery: {
                                                enabled:true
                                            },
                                            image: {
                                                tError: '<p><a href="%url%"><img style="height:100px;" height="100" src="%url%100" border="0" /></a></p><a href="%url%">The image</a> could not be loaded.' // Error message
                                            }
                                        });
                                    });

                            } else {
                                $(document).magnificPopup({
                                    type: 'image',
                                    delegate: 'a.filethumb',
                                    gallery: {
                                        enabled:true
                                    },
                                    image: {
                                        tError: '<p><a href="%url%"><img style="height:100px;" height="100" src="%url%100" border="0" /></a></p><a href="%url%">The image</a> could not be loaded.' // Error message
                                    }
                                });
                            }
                        });
</script>